<html>
    <head>
        <title>TJPU</title>
        <link href="/components.css" rel="stylesheet" />
        <link href="/base.css" rel="stylesheet" />
        {% block styles %}{% endblock%}
    </head>

    <body>
        <div class="page-head">
            <img class="logo" src="/logo_256.png" />
            <div class="title">教务管理系统</div>
            <!-- <img class="logo1" src="/head.jpg" />
            <img class="logo2" src="/pic .png" /> -->
        </div>
        

    <body>
        <div class="page-body">
            <div class="sidebar">
            <ul class="main-menu">
                <li><a href="/student00">学生</a>
                </li>
                <li><a href="/teacher00">教师</a>
                </li>
                <li><a href="/base">管理</a>
                </li>
            </ul>
        </div>
        </div>



        <div class="page-content">

        <div class="page-footer">&copy;天津工业大学 2021</div>
        </div>
        
    </body>
</html>


    
